<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.MonitorAlertChannelMapper">

    <resultMap id="MonitorAlertChannelResult" type="com.ruoyi.system.domain.MonitorAlertChannel">
        <id property="id" column="id" />
        <result property="appId" column="app_id" />
        <result property="channelType" column="channel_type" />
        <result property="accessMode" column="access_mode" />
        <result property="name" column="name" />
        <result property="botToken" column="bot_token" />
        <result property="chatId" column="chat_id" />
        <result property="enabled" column="enabled" />
        <result property="delFlag" column="del_flag" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateBy" column="update_by" />
        <result property="updateTime" column="update_time" />
        <result property="remark" column="remark" />
    </resultMap>

    <sql id="selectMonitorAlertChannelVo">
        select id, channel_type, access_mode, name, bot_token, chat_id, enabled,
               del_flag, create_by, create_time, update_by, update_time, remark
        from monitor_alert_channel
    </sql>

    <select id="selectMonitorAlertChannelById" parameterType="Long" resultMap="MonitorAlertChannelResult">
        <include refid="selectMonitorAlertChannelVo" />
        where id = #{id}
          and channel_type = 'telegram'
          and del_flag = '0'
    </select>

    <select id="selectTelegramChannelList" parameterType="com.ruoyi.system.domain.MonitorAlertChannel" resultMap="MonitorAlertChannelResult">
        <include refid="selectMonitorAlertChannelVo" />
        <where>
            channel_type = 'telegram'
            and del_flag = '0'
            <if test="name != null and name != ''">
                and (name like concat('%', #{name}, '%')
                or create_by like concat('%', #{name}, '%'))
            </if>
            <if test="enabled != null">
                and enabled = #{enabled}
            </if>
            <if test="params.currentUsername != null and params.currentUsername != ''">
                and create_by = #{params.currentUsername}
            </if>
        </where>
        order by update_time desc, create_time desc, id desc
    </select>

    <select id="selectAlertChannelsByCreateBy" parameterType="String" resultMap="MonitorAlertChannelResult">
        <include refid="selectMonitorAlertChannelVo" />
        where channel_type = 'telegram'
          and del_flag = '0'
          and create_by = #{createBy}
        order by enabled desc, update_time desc, create_time desc, id desc
    </select>

    <select id="selectEnabledTelegramChannelsByCreateBy" parameterType="String" resultMap="MonitorAlertChannelResult">
        <include refid="selectMonitorAlertChannelVo" />
        where channel_type = 'telegram'
          and enabled = 1
          and del_flag = '0'
          and create_by = #{createBy}
        order by update_time desc, create_time desc, id desc
    </select>

    <select id="countAlertChannelByCreateBy" parameterType="String" resultType="long">
        select count(1)
        from monitor_alert_channel
        where channel_type = 'telegram'
          and del_flag = '0'
          and create_by = #{createBy}
    </select>

    <select id="selectAssignedChannelsByAppId" parameterType="Long" resultMap="MonitorAlertChannelResult">
        select ac.app_id, c.id, c.channel_type, c.access_mode, c.name, c.bot_token, c.chat_id, c.enabled,
               c.del_flag, c.create_by, c.create_time, c.update_by, c.update_time, c.remark
        from monitor_alert_channel c
        inner join monitor_app_alert_channel ac on ac.channel_id = c.id
        where ac.app_id = #{appId}
          and c.channel_type = 'telegram'
          and c.del_flag = '0'
        order by c.enabled desc, c.update_time desc, c.create_time desc, c.id desc
    </select>

    <select id="selectAssignedChannelsByAppIds" resultMap="MonitorAlertChannelResult">
        select ac.app_id, c.id, c.channel_type, c.access_mode, c.name, c.bot_token, c.chat_id, c.enabled,
               c.del_flag, c.create_by, c.create_time, c.update_by, c.update_time, c.remark
        from monitor_alert_channel c
        inner join monitor_app_alert_channel ac on ac.channel_id = c.id
        where ac.app_id in
        <foreach collection="list" item="appId" open="(" separator="," close=")">
            #{appId}
        </foreach>
          and c.channel_type = 'telegram'
          and c.del_flag = '0'
        order by ac.app_id asc, c.enabled desc, c.update_time desc, c.create_time desc, c.id desc
    </select>

    <select id="selectEnabledChannelsByAppId" parameterType="Long" resultMap="MonitorAlertChannelResult">
        select ac.app_id, c.id, c.channel_type, c.access_mode, c.name, c.bot_token, c.chat_id, c.enabled,
               c.del_flag, c.create_by, c.create_time, c.update_by, c.update_time, c.remark
        from monitor_alert_channel c
        inner join monitor_app_alert_channel ac on ac.channel_id = c.id
        where ac.app_id = #{appId}
          and c.channel_type = 'telegram'
          and c.enabled = 1
          and c.del_flag = '0'
        order by c.update_time desc, c.create_time desc, c.id desc
    </select>

    <select id="selectTelegramChannelByChatId" parameterType="String" resultMap="MonitorAlertChannelResult">
        <include refid="selectMonitorAlertChannelVo" />
        where channel_type = 'telegram'
          and chat_id = #{chatId}
          and del_flag = '0'
        limit 1
    </select>

    <insert id="insertMonitorAlertChannel" parameterType="com.ruoyi.system.domain.MonitorAlertChannel" useGeneratedKeys="true" keyProperty="id">
        insert into monitor_alert_channel(
            <if test="channelType != null and channelType != ''">channel_type,</if>
            <if test="accessMode != null and accessMode != ''">access_mode,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="botToken != null and botToken != ''">bot_token,</if>
            <if test="chatId != null and chatId != ''">chat_id,</if>
            <if test="enabled != null">enabled,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            create_time
        ) values (
            <if test="channelType != null and channelType != ''">#{channelType},</if>
            <if test="accessMode != null and accessMode != ''">#{accessMode},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="botToken != null and botToken != ''">#{botToken},</if>
            <if test="chatId != null and chatId != ''">#{chatId},</if>
            <if test="enabled != null">#{enabled},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            sysdate()
        )
    </insert>

    <update id="updateMonitorAlertChannel" parameterType="com.ruoyi.system.domain.MonitorAlertChannel">
        update monitor_alert_channel
        <set>
            <if test="accessMode != null and accessMode != ''">access_mode = #{accessMode},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="botToken != null">bot_token = #{botToken},</if>
            <if test="chatId != null and chatId != ''">chat_id = #{chatId},</if>
            <if test="enabled != null">enabled = #{enabled},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
          and channel_type = 'telegram'
          and del_flag = '0'
    </update>

    <delete id="deleteMonitorAlertChannelById" parameterType="Long">
        update monitor_alert_channel
        set del_flag = '1',
            update_time = sysdate()
        where id = #{id}
          and channel_type = 'telegram'
          and del_flag = '0'
    </delete>

</mapper>
