// base color
$blue:#17324d;
$light-blue:#2b6cb0;
$red:#d64545;
$pink: #e36b8c;
$green: #26997b;
$tiffany: #3aa7a3;
$yellow:#f3b83f;
$panGreen: #26997b;

// 默认菜单主题风格
$base-menu-color: #5f6f86;
$base-menu-color-active: #ffffff;
$base-menu-background: #f7fafe;
$base-logo-title-color: #ffffff;

$base-menu-light-color:rgba(18,33,56,.78);
$base-menu-light-background:#f7fafe;
$base-logo-light-title-color: #001529;

$base-sub-menu-background: #eef4fb;
$base-sub-menu-hover: rgba(43,108,176,.08);

$base-sidebar-width: 250px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuColor: $base-menu-color;
  menuLightColor: $base-menu-light-color;
  menuColorActive: $base-menu-color-active;
  menuBackground: $base-menu-background;
  menuLightBackground: $base-menu-light-background;
  subMenuBackground: $base-sub-menu-background;
  subMenuHover: $base-sub-menu-hover;
  sideBarWidth: $base-sidebar-width;
  logoTitleColor: $base-logo-title-color;
  logoLightTitleColor: $base-logo-light-title-color
}
